*.cywrk.*
*.cyprj.*
*.cycdx
*.cyfit
*.rpt
*.svd
*.uvopt
*.uvproj
*_timing.html
*.cydsn/codegentemp
*.cydsn/CortexM0
*.cydsn/Generated_Source
*.cydsn/Export

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
